.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 0 5rem;
}

.Dashboard-title {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}


.Dashboard-icon {
  margin-right: 1rem;
  color: #22c55e
}

.Dashboard-subtitle {
  font-size: 1.2rem;
  color: #6b7280;
  margin-top: -1rem;
}

.CardMenu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem 0;
  gap: 16px;
  box-sizing: border-box;
}


.Card-content {
  flex: 1 1 0;
  background-color: #eff9f9;
  border: 1px solid #f1f5f9;
  height: 10rem;
  border-radius: 8px;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 22rem;
}

.Card-header {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.Card-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  max-height: 2rem;
}

.Card-result-low {
  color: #22c55e;
}

.Card-result-medium {
  color: #ea580c;
}

.Card-result-high {
  color: #dc2626;
}


.Card-icon {
  margin-left: 1rem;
}

.ButtonMenu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.ButtonMenu button {
  background-color: #f1f5f9;
  border: 0.2rem solid #f1f5f9;
  color: #94a0b0;
  flex: 1;
  text-align: center;
  padding: 0.75rem 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Que no se encojan demasiado */
.ButtonMenu button {
  min-width: 120px;
}

/* Estilo cuando está clicado */
.ButtonMenu button.isClicked {
  background-color: white;
  border-color: #f1f5f9;
  color: black;
}


.Dashboard-content {}